[submodule "Website"]
	path = Website
	url = https://github.com/lunamidori5/Midori-AI-Website.git
	branch = master
[submodule "Subsystem-Manager"]
	path = Subsystem-Manager
	url = https://github.com/lunamidori5/subsystem-manager.git
	branch = master
[submodule "Cluster-OS"]
	path = Cluster-OS
	url = https://github.com/lunamidori5/Midori-AI-Cluster-OS.git
	branch = master
[submodule "DiscordLLMBot"]
	path = DiscordLLMBot
	url = https://github.com/lunamidori5/Midori-AI-GPT-DiscordBot.git
	branch = master
[submodule "Obsidian-Notes"]
	path = Obsidian-Notes
	url = https://github.com/lunamidori5/Midori-AI-Obsidian-Notes.git
	branch = master
[submodule "Experimentation/rpg-note-taker"]
	path = Experimentation/rpg-note-taker
	url = https://github.com/lunamidori5/rpg-note-taker.git
	branch = master
[submodule "Experimentation/lrm-testing"]
	path = Experimentation/lrm-testing
	url = https://github.com/lunamidori5/lrm-testing.git
	branch = master
[submodule "Endless-Autofighter"]
	path = Endless-Autofighter
	url = https://github.com/Midori-AI-OSS/Midori-AI-AutoFighter.git
	branch = master
[submodule "AGI/Lyra-Project"]
	path = AGI/Lyra-Project
	url = https://github.com/Midori-AI-OSS/Lyra-Emergence.git
	branch = main
[submodule "Programs/Hello"]
	path = Programs/Hello
	url = https://github.com/Midori-AI-OSS/Midori-AI-Hello.git
[submodule "Python/Packages/State-Reporting"]
	path = Python/Packages/State-Reporting
	url = https://github.com/Midori-AI-OSS/State-Reporting
[submodule "Python/Packages/Logger"]
	path = Python/Packages/Logger
	url = https://github.com/Midori-AI-OSS/Logger
