[submodule "Website"]
	path = Website
	url = https://github.com/lunamidori5/Midori-AI-Website.git
	branch = master
[submodule "Pixelarch-OS"]
	path = Pixelarch-OS
	url = https://github.com/lunamidori5/Midori-AI-Pixelarch-OS.git
	branch = master
[submodule "DiscordLLMBot"]
	path = DiscordLLMBot
	url = https://github.com/lunamidori5/Midori-AI-GPT-DiscordBot.git
	branch = master
[submodule "Obsidian-Notes"]
	path = Obsidian-Notes
	url = https://github.com/lunamidori5/Midori-AI-Obsidian-Notes.git
	branch = master
[submodule "Experimentation/rpg-note-taker"]
	path = Experimentation/rpg-note-taker
	url = https://github.com/lunamidori5/rpg-note-taker.git
	branch = master
[submodule "Experimentation/lrm-testing"]
	path = Experimentation/lrm-testing
	url = https://github.com/lunamidori5/lrm-testing.git
	branch = master
[submodule "Endless-Autofighter"]
	path = Endless-Autofighter
	url = https://github.com/Midori-AI-OSS/Stained-Glass-Odyssey-Endless.git
	branch = master
[submodule "Python/agents-packages"]
	path = Python/agents-packages
	url = https://github.com/Midori-AI-OSS/agents-packages
[submodule "Agents-Template"]
	path = Agents-Template
	url = https://github.com/Midori-AI-OSS/agents_template
[submodule "Endless-Idler"]
	path = Endless-Idler
	url = https://github.com/Midori-AI-OSS/Stained-Glass-Odyssey-Idle.git
[submodule "Agent-Runner"]
	path = Agent-Runner
	url = https://github.com/Midori-AI-OSS/Agents-Runner
[submodule "Website-Blog"]
	path = Website-Blog
	url = https://github.com/Midori-AI-OSS/website-blog.git
